<div id="about-us"class="about-us" data-magellan-target="about-us">
  <h2 class="text-center">About Us</h2>

  <div class="row medium-unstack text-center">
    <div class="small-6 columns">
      <i class="fi-checkbox"></i>
      <h3>Amazing service</h3>
      <p>Există o mulţime de variaţii disponibile ale pasajelor Lorem Ipsum, 
        dar majoritatea lor au suferit alterări într-o oarecare măsură prin 
        infiltrare de elemente de umor, sau de cuvinte luate aleator, care nu 
        sunt câtuşi de puţin credibile. 
      </p>
    </div>
    <div class="small-6 columns">
      <i class="fi-clock"></i>
      <h3>Unbelievably fast</h3>
      <p>Există o mulţime de variaţii disponibile ale pasajelor Lorem Ipsum, 
        dar majoritatea lor au suferit alterări într-o oarecare măsură prin 
        infiltrare de elemente de umor, sau de cuvinte luate aleator, care nu 
        sunt câtuşi de puţin credibile. 
      </p>
    </div>
    <div class="small-6 columns">
      <i class="fi-css3"></i>
      <h3>For devs</h3>
      <p>Există o mulţime de variaţii disponibile ale pasajelor Lorem Ipsum, 
        dar majoritatea lor au suferit alterări într-o oarecare măsură prin 
        infiltrare de elemente de umor, sau de cuvinte luate aleator, care nu 
        sunt câtuşi de puţin credibile. 
      </p>
    </div>
    <div class="small-6 columns">
      <i class="fi-dollar"></i>
      <h3>Best Price</h3>
      <p>Există o mulţime de variaţii disponibile ale pasajelor Lorem Ipsum, 
        dar majoritatea lor au suferit alterări într-o oarecare măsură prin 
        infiltrare de elemente de umor, sau de cuvinte luate aleator, care nu 
        sunt câtuşi de puţin credibile. 
      </p>
    </div>
  </div>
</div>