<div class="row">
  <div id="our-designs" class="our-designs" data-magellan-target="our-designs">
    <div class="columns">
      <h2 class="text-center">Our Designs</h2>
      <div class="row">
        {{#each shirts}}
          <div class="small-6 medium-4 columns">
            <div class="shirt">
              <h4 class="text-center">{{this.name}}</h4>
              <img src="assets/img/shirts/{{this.image}}" alt="" />

              <div class="row text-center align-middle">
                <div class="columns">
                  <p class="price">$ {{this.price}}</p>
                </div>
                <div class="columns">
                  <a href="#" class="button">Buy Now</a>
                </div>
              </div>   
            </div><!--   shirt -->
          </div><!--small-6 medium-4    -->
        {{/each}}
      </div><!-- row -->
    </div><!-- columns -->
  </div><!-- our-designs -->
</div><!-- row -->  