<footer>
  <div class="row align-spaced align-middle">
    <div class="medium-4 small-12 small-order-2 medium-order-1 columns">
      <p class="small-text-center medium-text-left">Front End Store 2016.</p>
    </div>
    <div class="medium-4 small-12 small-order-1 medium-order-2 columns">
      <ul class="menu social align-center">
        <li><a href="#"><i class="fi-social-facebook"></i></a></li>
        <li><a href="#"><i class="fi-social-twitter"></i></a></li>
        <li><a href="#"><i class="fi-social-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>