<div class="send-yourdesign">
  <h2 class="text-center">Send your design</h2>
  
  <div class="row align-center">
    <div class="medium-8 columns">
      <div class="form-container">
        <form action="">
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
              <legend>We can print your design! Just fill the following form</legend>
              <label for="name">Name
                <input type="text" name="name" placeholder="Your Name" />
              </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
              <label for="email">Email
                <input type="email" name="email" placeholder="Your Email" />
              </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
              <label for="message">Message
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
              </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
              <label for="uploadFile" class="button">Upload File</label>
              <input type="file" id="uploadFile" class="show-for-sr" />
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
              <input type="submit" class="button secondary" value="Send"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
