<div class="testimonials">
  <h2 class="text-center">Testimonials</h2>
  
  <div class="row align-middle medium-unstack">
    <div class="columns imageTestimonials">
      <img src="assets/img/testimonials_image.jpg" alt="" />
    </div>
    <div class="columns ourTestimonials">
      <div class="orbit" role="region" aria-label="Our testimonials" data-orbit>
        <ul class="orbit-container">
          <li class="orbit-slide">
            <blockquote>
              "Amazing quality, their speed and accuracy is incredible."
              <cite>Juan Pablo</cite>
            </blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote>
              "Amazing quality and price, a must have for all devs!."
              <cite>Pablo Neruda</cite>
            </blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
